.cntSurveys {
    height: calc(100% - 80px);
}

.logoSurveys {
    max-width: 129px;
    max-height: 123px;
}
.bg-logo {
    background-image: linear-gradient(180deg, #ffffff 0, #ffffff 25%, #ffffff 50%, #ffffff 75%, #bdbdbd 150%);
}
.contenedor-txt {
    padding: 10%;
}
.cnt-logo {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.txtPreg {
    line-height: 27px;
    font-size: 17px;
}
.barra {
    background-color: #aaaaaa;
    border-radius: 2px;
    height: 6px;
    max-width: 90%;
    margin-left: 5%;
}

.txtHeadEnd {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}
.txtHeadMid {
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #ad252b;
}
.txtHeadBot {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
}
.imgTicket{
    width: 250px;
    height: 120px;
}
.numberOnTicket{
    position: absolute;
    margin-top: 12%;
    font-size: 36px;
    font-weight: 700;
    color: #FFFFFF
}