.cntSurveys {
    height: calc(100% - 80px);
}

.logoSurveys {
    max-width: 129px;
    max-height: 123px;
}
.bg-logo {
    background-image: linear-gradient(180deg, #ffffff 0, #ffffff 25%, #ffffff 50%, #ffffff 75%, #bdbdbd 150%);
}
.contenedor-txt {
    padding: 10%;
}
.cnt-logo {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.txtPreg {
    line-height: 27px;
    font-size: 17px;
}
.barra {
    background-color: #aaaaaa;
    border-radius: 2px;
    height: 6px;
    max-width: 90%;
    margin-left: 5%;
}
.circles {
    margin-top: -10px;
    color: #c0272d;
    display: block;
}
.numbersUnSelected {
    color: #aaaaaa;
}
::ng-deep .mat-icon{
   
        height: 50px !important;
        width: 50px !important;
}

