::ng-deep .mat-tab-header {
    color: #000000;
    width: 40%;
    margin-left: 30%;
    .mat-tab-header {
        color: #c0272d !important;
    }
    .mat-tab-header-pagination {
        color: #c0272d !important;
    }
    .mat-tab-label-container {
        background-color: #282828;
    }
    .mat-tab-label {
        min-width: 20px !important;
        max-width: 20px !important;
        padding: 0px !important;
    }
    .mat-tab-label-active {
        .mat-tab-label-content {
            color: white !important;
        }
    }

    .mat-tab-group.mat-primary .mat-ink-bar,
    .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: #282828;
        height: 0px;
    }
}

.main-ctn {
    top: 10%;
    position: absolute;
}
.fondoGris {
    background-color: #f1f1f1;
    z-index: -1;
    border-radius: 10px;
}
.paddin-contenido {
    padding-left: 25px;
    padding-right: 25px;
}
.bgSmp {
    z-index: -1;
}
.mainLogoSmp {
    max-width: 70px;
    margin-bottom: 35px;
    z-index: 1;
    margin-top: -110px;
}
.tex-principal {
    text-align: justify;
    font-weight: 350px;
    font-family: inherit;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
}
.tex-margin {
    margin-top: 50px;
}
.paddin-contenido {
    padding-left: 15px;
    padding-right: 15px;
}
.calificacion {
    border: none;
    font-size: 30px;
    font-weight: 900;
    margin-right: 30px;
    color: #ffff;
    background: none;
}
.fondo-calificacion1 {
    background-color: black;
    padding: 1px;
    width: 95%;
    border-radius: 50px;
    margin-top: 25px;
}
.fondo-calificacion2 {
    background-color: black;
    padding: 1px;
    width: 95%;
    border-radius: 50px;
    margin-top: 35px;
}
.relleno {
    margin-top: 35px;
}
.logoCursoNegro {
    margin-top: -35px;
}
.textArea {
    width: 95%;
    height: 150px;
    border: none;
    text-align: center;
}
