::ng-deep .mat-tab-header {
    color: #000000;
    align-self: center;
    .mat-tab-header {
        color: #c0272d !important;
    }
    .mat-tab-header-pagination {
        color: #c0272d !important;
    }
    .mat-tab-label-container {
        background-color: #282828;
    }
    .mat-tab-label {
        min-width: 20px !important;
        max-width: 20px !important;
        padding: 0px !important;
    }
    .mat-tab-label-active {
        .mat-tab-label-content {
            color: white !important;
        }
    }
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #282828;
    height: 0px;
}
.main-ctn {
    top: 0%;
    position: absolute;
}
.fondoGris {
    background-color: #f1f1f1;
    z-index: -1;
    border-radius: 10px;
}
.paddin-contenido {
    padding-left: 25px;
    padding-right: 25px;
}
.bgSmp {
    z-index: -1;
}
.mainLogoSmp {
    max-width: 70px;
    margin-bottom: 35px;
    z-index: 1;
    margin-top: -110px;
}
.tex-principal {
    text-align: justify;
    font-weight: 350px;
    font-family: inherit;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
}
.tex-margin {
    margin-top: 50px;
}
.paddin-contenido {
    padding-left: 15px;
    padding-right: 15px;
}
.calificacion {
    border: none;
    font-size: 16px;
    font-weight: 900;
    margin-right: 15px;
    color: #ffff;
    background: none;
}
.fondo-calificacion1 {
    background-color: black;
    padding: 1px;
    width: 100%;
    max-width: 100%;
    border-radius: 50px;
    margin-top: 15px;
    text-align: center;
}
.fondo-calificacion2 {
    background-color: black;
    padding: 1px;
    width: 100%;
    max-width: 100%;
    border-radius: 50px;
    margin-top: 15px;
    text-align: center;
}
.relleno {
    margin-top: 35px;
}
.logoCursoNegro {
    margin-top: -35px;
}
.textArea {
    width: 95%;
    height: 150px;
    border: none;
    text-align: center;
}
.footer {
    margin-top: -50px !important;
}
.main-ctn {
    top: 10%;
    position: absolute;
}
.fondoGris {
    background-color: #f1f1f1;
    z-index: -1;
    border-radius: 10px;
}
.paddin-contenido {
    padding-left: 25px;
    padding-right: 25px;
}
.bgSmp {
    z-index: -1;
}
.mainLogoSmp {
    max-width: 70px;
    margin-bottom: 35px;
    z-index: 1;
    margin-top: -110px;
}
.pinButtom {
    color: #c0272d;
    font-size: 24px;
    font-weight: 700;
    min-height: 60px;
    width: 50%;
    border-radius: 15px;
    margin-left: 25%;
}
.inputs {
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    min-height: 50px;
    border: 0px solid;
    margin-top: -20px;
}
.inputCap {
    background-color: #ffffff;
    font-weight: bold;
    text-transform: none;
    font-size: 15px;
    font-family: system-ui;
    color: black;
    text-transform: uppercase;
    border-radius: 10px;
    width: 93%;
    padding: 8px;
    margin-bottom: 25px;
    border: none;
}
.inputMae {
    background-color: #ffffff;
    font-weight: bold;
    text-transform: none;
    font-size: 15px;
    font-family: system-ui;
    color: black;
    text-transform: uppercase;
    border-radius: 10px;
    width: 93%;
    padding: 8px;
    margin-bottom: 25px;
    border: none;
}
.inputFecha {
    background-color: #ffffff;
    font-weight: bold;
    text-transform: none;
    font-size: 15px;
    font-family: system-ui;
    color: black;
    text-transform: uppercase;
    border-radius: 10px;
    width: 93%;
    padding: 8px;
    margin-bottom: 25px;
    border: none;
}
.pinSorteo {
    font-size: 30px;
    font-weight: 700;
    color: #c0272d;
}
.titulo {
    text-transform: uppercase;
    color: #c0272d;
    font-weight: 900;
    font-size: 25px;
}
.aviso {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    font-family: "Roboto";
}
.paddin-contenido2 {
    padding-right: 25px;
    margin-right: 15%;
}
.bg-grey {
    background-color: grey;
}
.color-red {
    color: #c0272d !important;
}
.color-white {
    color: white !important;
}
