<body background="../../../assets/FondoPreguntas.png"></body>
<div class="container main-ctn h-90">
    <div class="row text-center">
        <div class="col">
            <div class="paddin-contenido">
                <div class="fondoGris">
                    <div>
                        <img class="bgSmp" src="../../../assets/BGSMP.png" />
                    </div>
                    <div>
                        <img class="mainLogoSmp" src="../../assets/LogoSMP.png" />
                    </div>
                    <p class="tex-principal"><b>Califica la información teórica que recibiste por parte del Maestro
                            Parrillero</b>&nbsp;&nbsp;&nbsp;(técnicas de cocción, tipos y usos de asadores y
                        combustibles, tips, control de
                        temperaturas, etc).</p>
                    <div class="fondo-calificacion1">
                        <button class="calificacion">1</button>
                        <button class="calificacion">2</button>
                        <button class="calificacion">3</button>
                        <button class="calificacion">4</button>
                        <button class="calificacion">5</button>
                    </div>
                    <p class="tex-principal tex-margin"><b>Califica el método de enseñanza del Maestro
                            Parrillero</b>&nbsp;(manejo del grupo, indicaciones, seguimiento, etc).</p>
                    <div class="fondo-calificacion2">
                        <button class="calificacion">1</button>
                        <button class="calificacion">2</button>
                        <button class="calificacion">3</button>
                        <button class="calificacion">4</button>
                        <button class="calificacion">5</button>
                    </div>
                    <div class="relleno">.</div>
                </div>
                <div class="logoCursoNegro">
                    <img src="../../../assets/LogoCursoNgo.png" />
                </div>
            </div>
        </div>
    </div>
</div>
