<div class="container cntSurveys">
    <div class="row bg-logo h-40 ">
        <div class="col-12 h-100 cnt-logo">
            <img class="logoSurveys mb-2 mt-2" src="../../assets/logoCursos.png" />
        </div>
    </div>
    <div class="row h-100">
        <div class="col-12">
            <div class="row h-33">
                <div class="contenedor-txt">
                    <div [innerHTML]="pregSlctTxt" class="txtPreg"></div>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 text-center ">
                    <ng-container *ngIf="undefined != pregSlctTipo && pregSlctTipo == 1 else textArea">
                        <div class="row barra mt-5">
                            <span class="col circles" *ngFor="let circles of arrValuaciones; let i =index">
                                <div (click)="slctValuacion(i)" class="row justify-content-center">
                                    <mat-icon aria-hidden="false">circle</mat-icon>
                                </div>
                                <div id="{{'noCircle' + i}}" class="row justify-content-center numbersUnSelected"
                                    [ngClass]="{'valSlctd': numberSelected==circles.valor }">
                                    {{circles.valor}}
                                </div>
                            </span>
                        </div>
                    </ng-container>
                    <ng-template #textArea>
                        <div class="row justify-content-center">
                            <input class="inptResps" placeholder="Ingresa tu respuesta aqui" [(ngModel)]="txtOpinions">
                        </div>
                        <div class="row">
                            <ng-container *ngIf="pregSlctIdx < arrPreguntas.length-1 else ultimaPregunta">
                                <div class="col text-right">
                                    <button mat-fab color="primary" class="btn-flecha mt-2"
                                        (click)="getOpinion(pregSlctIdx, txtOpinions )">
                                        <mat-icon>
                                            arrow_forward_ios
                                        </mat-icon>
                                    </button>
                                </div>
                            </ng-container>
                            <ng-template #ultimaPregunta class="justify-content-center">
                                <div class="col text-center mt-2">
                                    <button (click)="endSurvey(pregSlctIdx, txtOpinions)" class="btn-main finalizarBtn"
                                        mat-raised-button>
                                        FINALIZAR
                                    </button>
                                </div>
                            </ng-template>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer>
</app-footer>