.main-ctn {
    top: 10%;
    position: absolute;

    .form-field-cnt{
        margin-bottom: 10px;
    }
    .title-surveys{
        font-size: 28px;
        font-weight: 600;
    }
    .sub-title-surveys{
        font-size: 14px;
        color: #666666;
    }
}
.fondoGris{
    background-color: rgba(40, 40, 40, 0.6);
    z-index: -1;
    border-radius: 10px;
}
.mainLogoCursos{
    margin-bottom: 10%;
    max-width: 150px;
    max-height: 300px;
}
.mainLogoSmp{
    max-width: 70px;
    margin-bottom: 35px;
    z-index: 1;
    margin-top: -110px;
}
.iconFlama{
    max-width: 35px;
    max-height: 35px;
    display: flex;
    margin-left: 145px;
    margin-top: 20px;
}
.paddin-contenido{
    padding-left: 25px;
    padding-right: 25px;
}
.ingresarButtom{
    background-color: #c0272d;
    color:#ffffff;
    font-size: 24px;
    font-weight: 700;
    min-height: 60px;
    width: 50%;
    border-radius: 15px; 
}
.inputPin{
    background-color: black;
    font-weight: bold;
    text-transform:none;
    font-size: 20px;
    font-family: system-ui;
    max-width: 250px;
}
.fondoGris2{
    background-color: rgba(40, 40, 40, 0.6);
}
.bgSmp{
    z-index: -1;

}