.main-ctn {
    top: 10%;
    position: absolute;

    .form-field-cnt{
        margin-bottom: 10px;
    }
    .title-surveys{
        font-size: 28px;
        font-weight: 600;
    }
    .sub-title-surveys{
        font-size: 14px;
        color: #666666;
    }
}
