<div class="container main-ctn h-90">
    <div class="row text-center">
        <div class="col">
            <img class="main-logo" src="../../assets/logoCursos.png" />
        </div>
    </div>

    <div class="row text-center">
        <div class="col">
            <form class="form-field-cnt ">
                <input placeholder="PIN" [(ngModel)]="claveId" name="claveId" type="text">
            </form>
        </div>
    </div>

    <div class="row text-center">
        <div class="col">
            <button class="btn-main" mat-raised-button (click)="goToSurveysMain()">
                Ingresar
            </button>
        </div>
    </div>
    <div class="row">
        <app-footer class="w-100"></app-footer>
    </div>
</div>