<div class="container main-ctn">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <img class="mainLogoCursos mt-5" src="../../assets/logoCursos.png" />
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 text-center">
            <form class="form-field-cnt">
                <input placeholder="Codigo" [(ngModel)]="claveId" name="claveId" type="text"
                    class="mt-2 inpt-main inputCodigo">
            </form>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-12 text-center">
            <button class="btn-main ingresarButtom" mat-raised-button (click)="goToSurveysMain()">
                INGRESAR
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center mt-5">
            <a routerLink="/" class="admin-access-ref">
                Salir
            </a>
        </div>
    </div>
</div>
<app-footer>
</app-footer>