<div class="main-ctn ">
    <div class="row justify-content-center">
        <img class="mainLogoCursos mt-5" src="../../assets/logoCursos.png" />
    </div>
    <div class="row">
        <div class="col-12">
            <p class="txt-bienvenido">¡Bienvenido!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="txt-brief-bienvenida">Estás en la plataforma de sorteos de la Sociedad Mexicana de Parrilleros</p>
        </div>
    </div>
    <div class="row justify-content-center ">
        <div class="col text-center">
            <button class="btn-main sorteo-buttom mt-3" mat-raised-button (click)="goToSurveys()">
                <p class="tex-buttom1">Participar</p>
            </button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col" class="text-center mt-5">
            <a routerLink="/admin" class="admin-access-ref">
                Iniciar sesion
            </a>
        </div>
    </div>
</div>
<app-footer>
</app-footer>