.main-ctn {
    top: 10%;
    position: absolute;

    .admin-access-ref{
        font-size: 14px;
        font-weight: 600;
        color: #525252;
        text-decoration: underline;
        text-transform: uppercase;
    }

    .btn-main{
        font-size: 36px;
        font-weight: 800;
        min-height: 150px;
        margin-bottom: 2%;
    }
}
