<div class="container main-ctn h-90">
    <div class="row text-center">
        <div class="col">
            <div class="paddin-contenido">
                <div>
                    <img class="mainLogoCursos" src="../../assets/logoCursos.png" />
                    <div class="row text-center">
                        <div class="col mt-4 mb-4">
                            <button class="btn-main  sorteo-buttom" mat-raised-button (click)="goToSurveys()">
                                <p class="tex-buttom1">Participar</p>
                            </button>
                            <img class="iconFlama" src="../../assets/Flama 1.png" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col" class="text-center">
                    <a routerLink="/admin" class="admin-access-ref">
                        Iniciar sesion
                    </a>
                </div>
            </div>
        </div>
 
 
 
 
    </div>
    <app-footer>

    </app-footer>
</div>