.main-ctn {
    height: calc(100% - 80px);
    .admin-access-ref {
        font-size: 18px;
        font-weight: 700;
        color: #bdbdbd;
        text-decoration: underline;
        text-transform: uppercase;
    }
    .btn-main {
        font-size: 36px;
        font-weight: 800;
    }
    .txt-bienvenido {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        color: #ad252b;
    }
    .txt-brief-bienvenida {
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        font-feature-settings: "liga" off, "kern" off;
    }
}
.sorteo-buttom {
    background-color: #ad252b;
    color: #ffffff;
    border-radius: 5px;
    width: 90%;
}
.tex-buttom1 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    margin-top: 12px;
}
.tex-buttom2 {
    font-family: Zilla Slab;
    font-weight: bold;
    font-size: 35px;
}
.fondoGris {
    background-color: rgba(40, 40, 40, 0.6);
    z-index: -1;
    border-radius: 10px;
}
.iconFlama {
    max-width: 35px;
    max-height: 35px;
}
.bgSmp {
    z-index: -1;
}
