<mat-drawer-container>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <button (click)="goToGenerateSurvey()">
            Go to generate
        </button>
    </mat-drawer>
    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
            Esto debe ser el iconito para el menu
        </button>
    </div>
    <div>
        Area Banner
    </div>
    <mat-tab-group>
        <mat-tab label="Historial">
            Historial
            <div class="cont-historial" *ngFor = "let item of arrSurveys">
                <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
               
            </div>
            <button (click)="checkParticipantes()">
                HazmeClick
            </button>
        </mat-tab>
        <mat-tab label="Sorteos Activos">
            <div class="row cadaParticipante" *ngFor="let item of surveys | async">
                <div class="col">{{ item.user }}</div>
                <div class="col">{{ item.pinToWin }}</div>
            </div>
            <div class="row">
                <button class="btn-sortear" (click)="obtenerGanador()">
                    Sortear
                </button>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-drawer-container>
