::ng-deep .mat-tab-list {
    background-color: #dadada;
    text-align: -webkit-center;
    border-bottom: 0px;
    max-width: 60%;
    margin-left: 20%;
    border-radius: 20px;
}
::ng-deep .mat-tab-label-content {
    color: white;
}

::ng-deep .mat-tab-header {
    border-bottom: 0px;
}
::ng-deep .mat-tab-label-active {
    background-color: white;
    border-radius: 20px;
    .mat-tab-label-content {
        color: #c0272d !important;
    }
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #dadada;
    height: 0px;
}

::ng-deep .mat-progress-bar{
    height: 10px !important;
}
.tab-style {
    border: 1px solid black;
    border-radius: 150px;
}
.fondoGris{
    background-color: gray;
}
.perfil{
    max-width: 100px;
    margin-left: 40%;
}
.sorteo{
    margin-top: 25px;
    margin-left: 15px;
    color:#C0272D
}
.usuario{
    background-color: #282828;
    color: #f1f1f1;
    width: 70%;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    font-family: "Roboto";
    margin-left: 18%;
    margin-top: 25px;
    padding: 15px;
}
.met-tab{
    margin-left: 20%;
    background-color: #282828;
}
.cadaParticipante{
    margin: 2%;
    font-size: 16px;
}
.btn-sortear{
    background-color: #c0272d;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    min-height: 60px;
    width: 50%;
    border-radius: 15px;
    margin-left: 25%;
}