<div class="container main-ctn">
    <div class="row justify-content-center">
        <img class="mainLogoCursos mt-5" src="../../assets/logoCursos.png" />
    </div>
    <form>
        <div class="row mb-2">
            <div class="col-12 text-center">
                <input placeholder="Nombre" class="inpt-main" name="name" type="text" [(ngModel)]="userNameInpt">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12 text-center">
                <input placeholder="Apellido" class="inpt-main" name="name" type="text" [(ngModel)]="userSurNameInpt">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12 text-center">
                <input placeholder="Email" class="inpt-main" name="email" type="email" [(ngModel)]="userEmailInpt">
            </div>
        </div>
    </form>
    <div class="row mt-1">
        <div class="col-12 text-center">
            <button class="btn-main ingresarButtom" mat-raised-button
                (click)="writeUserData(userNameInpt, userSurNameInpt,userEmailInpt)">
                INGRESAR
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center mt-3">
            <a routerLink="/" class="admin-access-ref">
                Regresar
            </a>
        </div>
    </div>
</div>
<app-footer>
</app-footer>