<form>
    <div>
        <select placeholder="Capitulo" name="name" type="text" [(ngModel)]="slctdCapitulo">
            <option *ngFor="let item of arrCapitulos" value="{{item}}">{{item}}</option>
        </select>
    </div>
    <div>
        <select placeholder="Maestro parrillero" name="name" type="text" [(ngModel)]="slctdMaestro">
            <option *ngFor="let item of arrMaestros" value="{{item}}">{{item}}</option>
        </select>
    </div>
    <div>
        <input placeholder="Fecha" name="email" type="date" [(ngModel)]="slctdDate">
    </div>
</form>
<button [disabled]="pinGenerado" (click)="generarPin()">
    Generar PIN
</button>
<div>
    {{pin}}
</div>