<body background="../../../assets/FondoAdmin.jpeg">
    <div class="container main-ctn h-90">
        <div class="row text-center">
            <div class="col">
                <div class="paddin-contenido">
                    <div class="fondoGris">
                        <div>
                            <img class="bgSmp" src="../../../assets/BGSMP.png" />
                        </div>
                        <div>
                            <img class="mainLogoSmp" src="../../assets/LogoSMP.png" />
                        </div>
                        <h2 class="titulo"> Generar sorteo</h2>
                        <div>
                            <form class="inputs">
                                <div>
                                    <select placeholder="Capitulo" name="name" type="text" [(ngModel)]="slctdCapitulo"
                                        class="inputCap"> 
                                        <option value="" disabled selected hidden>capítulo</option>
                                        <option *ngFor="let item of arrCapitulos" value="{{item}}">{{item}}</option>
                                    </select>
                                </div>
                                <div>
                                    <select placeholder="Maestro parrillero" name="name" type="text"
                                        [(ngModel)]="slctdMaestro" class="inputMae">
                                        <option value="" disabled selected hidden>Maestro parrillero</option>
                                        <option *ngFor="let item of arrMaestros" value="{{item}}">{{item}}</option>
                                    </select>
                                </div>
                                <div>
                                    <input placeholder="Fecha" name="email" type="date" [(ngModel)]="slctdDate"
                                        class="inputFecha">
                                </div>
                            </form>
                        </div>
                        <button [disabled]="pinGenerado" (click)="generarPin()" class="inpt-main pinButtom">
                            Generar PIN
                        </button>
                        <div class="pinSorteo">
                            {{pin}}
                        </div>
                        <p class="aviso">Recuerda compartir este número con los asistentes para que puedan acceder a la dinámica.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>