.main-cnt{
     top: 10%;
     position: absolute;
    
}
.mainLogoSmp{
    max-width: 70px;
    margin-bottom: 35px;
    z-index: 1;
    margin-top: -105px;
}
.main-logo{
    margin-bottom: 10%;
    max-width: 150px;
    max-height: 300px;
}
.fondoGris{
    background-color: rgba(40, 40, 40, 0.6);
    border-radius: 10px;
}
.paddin-contenido{
    padding-left: 25px;
    padding-right: 25px;
}
.bgSmp{
    z-index: -1;
}
.ingresarButom{
    background-color: #c0272d;
    color:#ffffff;
    font-size: 24px;
    font-weight: 700;
    min-height: 60px;
    width: 50%;
    border-radius: 15px; 
}
.inputs{
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    min-height: 50px;
    border: 0px solid;
    margin-top: -20px;
}
input::placeholder {
    color:#ffffff;
}
.inputUsuario{
    background-color: black;
    font-weight: bold;
    text-transform:none;
    font-size: 15px;
    font-family: system-ui;
    color: #ffffff;
    text-transform: uppercase;
}
.inputEmail{
    background-color: black;
    font-weight: bold;
    text-transform:none;
    font-size: 15px;
    font-family: system-ui;
    color: #ffffff;
    text-transform: uppercase;
}