<div class="container main-ctn">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <img class="mainLogoCursos mt-5" src="../../assets/logoCursos.png" />
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 text-center">
            <form class="form-field-cnt">
                <input class="mt-2 inpt-main inputCodigo" placeholder="Usuario" name="user" type="text" [(ngModel)]="adminUser">

                <input class="mt-2 inpt-main inputCodigo" placeholder="Email" name="email" type="email" [(ngModel)]="adminEmail">
            </form>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 text-center">
            <button class="btn-main ingresarButtom" mat-raised-button (click)="goToAdminMain()" >
                INGRESAR
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center mt-5">
            <a routerLink="/" class="admin-access-ref">
                Salir
            </a>
        </div>
    </div>
</div>
<app-footer>
</app-footer>

