<body background="../../assets/FondoCarne.jpeg"></body>
<div class="container main-cnt h-90">
    <div class="row text-center">
        <div class="col">
            <div class="paddin-contenido">
                <div class="fondoGris">
                    <div>
                        <img class="bgSmp" src="../../../assets/BGSMP.png" />
                    </div>
                    <div>
                        <img class="mainLogoSmp" src="../../assets/LogoSMP.png" />
                    </div>
                    <img class="main-logo" src="../../../assets/LogoCursosBlanco.png" />
                </div>
            </div>
            <!-- <form class="form-field-cnt inputs">
                <div class="marginButom1">
                    <input placeholder="Nombre" class="mt-2 mb-1 inpt-main inputNombre" name="name"
                        type="text" [(ngModel)]="userNameInpt">
                </div>
            </form> -->
            <div class="row text-center">
                <div class="col">
                    <button class="btn-main mt-2 btn-main ingresarButom" mat-raised-button>
                        Ingresar
                    </button>
                </div>
            </div>
            