<body background="../../assets/FondoAdmin.jpeg"></body>
<div class="container main-cnt h-90">
    <div class="row text-center">
        <div class="col">
            <div class="paddin-contenido">
                <div class="fondoGris">
                    <div>
                        <img class="bgSmp" src="../../../assets/BGSMP.png" />
                    </div>
                    <div>
                        <img class="mainLogoSmp" src="../../assets/LogoSMP.png" />
                    </div>
                    <img class="main-logo" src="../../../assets/LogoCursosBlanco.png" />
                </div>
            </div>
            <form >
                <div class="inputs">
                    <input class="mt-2 mb-1 inpt-main inputUsuario" placeholder="Usuario" name="user" type="text"
                        [(ngModel)]="adminUser">
                </div>
                <div class="inputs">
                    <input class="mt-2 mb-1 inpt-main inputEmail" placeholder="Email"  name="email" type="email"
                        [(ngModel)]="adminEmail">
                </div>
            </form>
            <div class="row text-center">
                <div class="col">
                    <button class="btn-main mt-2 ingresarButom" mat-raised-button (click)="goToAdminMain()">
                        Ingresar
                    </button>
                </div>
            </div>